<!DOCTYPE>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>

<style type="text/css">
.auto-style1 {
	background-color: #A1E0F1;
}
.newStyle1 {
	background-image: url('../images/thW3RFC0K7.jpg');
}
.div {
	background-color: #FFFFCC;
}
.newStyle2 {
	background-color: #FFFFCC;
}
.auto-style2 {
	border-width: 0px;
}
.auto-style3 {
	text-align: center;
}
div {
	background-color: #FFFFCC;
}
div {
	background-color: #FFFFCC;
	border: medium double #FFFF00;
}
body {
	background-color: #FFFFCC;
}
.auto-style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
}
.auto-style5 {
	font-size: xx-large;
}
.newStyle3 {
	background-color: #66FFFF;
}
h2 {
	background-color: #99FFCC;
}
h1 {
	background-color: #FFFF99;
	border: medium double #FFFFFF;
}
.newStyle4 {
	border: medium double #CCFF99;
}
h1 {
	border: medium double #660066;
}
h1 {
}
h1 {
}
h1 {
	border-style: inherit;
	border-width: medium;
	border-color: #FFFF00;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
</style>

</head>

<body>
<h1 class="auto-style3"><span class="auto-style4">Welcome to Northeastern</span><span class="auto-style5"> Illinois Football Official Association</span></h1>
<h2 class="auto-style3">Home | About Us |&nbsp; Links </h2>
<p class="auto-style3">&nbsp;</p>
<p class="auto-style3">&nbsp;</p>
<p><a href="index.html">
<img alt="" class="auto-style2" height="510" src="images/Football%20flyers%202021.jpg" style="float: right" width="730" /></a></p>
<ul>
	<li><strong><span class="auto-style1">List of Links</span></strong></li>
	<li>Meetinng Location</li>
	<li>Flag Rules</li>
	<li>Clinic Information</li>
	<li>Contact Information</li>
</ul>

</body>

</html>

